[Unit]
Description=RAEConnect Server daemon

[Service]
Type=exec
ExecStart=/RAEConnect/RAEConnectServer >> /var/log/RAEConnect/RAEConnect.log &2>1

[Install]
WantedBy=multi-user.target