[Unit]
Description=RAEConnect Server daemon

[Service]
#Restart=on-failure
#RestartSec=5s
Type=exec
ExecStart=/RAEConnect/RAEConnectServer

[Install]
WantedBy=multi-user.target